body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
              url("bg/backs.jpg") center/cover no-repeat fixed;              
  font-family: 'Segoe UI', Arial, sans-serif;
  color: white;
}

.overlay {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;

  text-shadow:
    0 0 8px rgba(255, 255, 255, 0.4),
    0 0 18px rgba(142, 68, 173, 0.4);
}

h2 {
  font-size: 56px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
}

p {
  margin-top: 0;
}

p {
  font-size: 22px;
  opacity: 0.9;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 14px 40px;
  background: linear-gradient(135deg, #8e44ad, #6c2ea0);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 25px;
  transition: 0.3s ease;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.logo {
  width: 140px;
  height: 140px;
  border-radius: 12%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
  transition: 0.3s ease;
}
.logo:hover {
  transform: scale(1.05);
}

.subtitle {
  font-size: 22px;
  font-style: italic;
  opacity: 0.9;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.6);
}
